{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}{% if title%}. {% endif %}ОкиПлюс. Разборка японских автомобиолей в Тирасполе.</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <meta property="og:image" content="{% static "css/logo.png" %}" /> <!-- для Viber -->
    <meta property="og:image" content="{% static "css/logo.png" %}" />
    <meta property="og:image" content="{% static "css/logo.png" %}" /> <!-- для Telegram & WhatsApp -->
</head>
<body>
<div class="frames" id="logo">
    <a href="/"><img src="{% static "img/header.png" %}" width="100%-2px" alt="logo"></a>
</div>
<div id="menu" class="frames">
    <table>
        <tr>
            <td><a href="/">Главная</a></td>
            <td><a href="/brend/">Фирмы производители</a></td>
            <td><a href="/page/about/">О нас</a></td>
            <td><a href="/">Энциклопедия авто</a></td>
            <td><a href="/">Наш календарик</a></td>
        </tr>
        <tr>
            <td><a href="/">Цены на запчасти</a></td>
            <td><a href="/">Рейтинг качества</a></td>
            <td><a href="/page/knam/">Наш адрес</a></td>
            <td><a href="/">.</a></td>
            <td><a href="/page/partners/">Наши клиенты</a></td>
        </tr>
        <tr>
            <td><a href="/">Прайс-листы</a></td>
            <td><a href="/page/zz/">Доставка и оплата заказов</a></td>
            <td><a href="/page/viber/">Контакты Viber</a></td>
            <td><a href="/page/news/">Местные новости</a></td>
            <td><a href="/page/video/">Японская реклама</a></td>
        </tr>
        <tr>
            <td><a href="/page/razborka/">Разборка</a></td>
            <td><a href="/page/garantii/">Гарантия на запчасти</a></td>
            <td><a href="/page/partners/">Наши партнеры</a></td>
            <td><a href="/">.</a></td>
            <td><a href="/page/japan/">Все об японии</a></td>
        </tr>
        <tr>
            <td><a href="/">Купим</a></td>
            <td><a href="/">Акция</a></td>
            <td><a href="/">Черный список</a></td>
            <td><a href="/">Новости в мире</a></td>
            <td><a href="http://webcam.transtelecom.md/" target="_blank">Веб-камеры</a></td>
        </tr>
    </table>
</div>
<div id="content" class="frames">{% block content %}Content{% endblock content %}</div>
<div id="footer" class="frames">
    <img src="{% static 'img/footer.png' %}"  width="100%" alt="footer">
</div>
</body>
</html>