
<big style="color: red;"><big><span style="font-weight: bold;"><img style="border: 1px solid ; width: 400px; height: 134px;" alt="" src="../img/img_0_nas/onas-15.jpg" align="middle" hspace="5" vspace="5"></span></big></big>
<big style="font-weight: bold;"><big><big><big><small><span style="color: rgb(0, 0, 102);"><span style="color: red;"><br>
ПАМЯТКА НАШЕМУ НОВОМУ КЛИЕНТУ</span></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><span style="color: red;">
<span style="color: rgb(51, 51, 255);">ТОЛЬКО У НАС В ПРИДНЕСТРОВЬЕ</span></span></span></small></big></big></big></big><br style="color: rgb(51, 51, 255);">
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><span style="color: red;">
</span><span style="color: rgb(51, 51, 255);">
ЛЮБЫЕ НОВЫЕ И БУ ЗАПЧАСТИ</span></span></small></big></big></big></big><br style="color: rgb(51, 51, 255);">
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><span style="color: rgb(51, 51, 255);">
&nbsp;В ОДНОМ МЕСТЕ !!!</span></span></small></big></big></big></big>
<br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><span style="color: rgb(51, 51, 255);"></span></span></small></big></big></big></big> <img style="border: 1px solid ; width: 313px; height: 250px;" alt="" src="price/img-girl250/250-313g.jpg" align="middle" hspace="5" vspace="5"><img style="border: 1px solid ; width: 400px; height: 250px;" alt="" src="INDEX-GLAVNOE/OKEY-02.jpg" align="middle" hspace="5" vspace="5"><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>Наш склад насчитывает более тысячи позиций новых запчастей </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
и около 5 000 бу учтенных </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>запчастей  </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>в компьютере&nbsp; </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>с&nbsp; автомобилей 1980-2005 годов</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
( занести все бу запчасти с 250 разобранных ам просто нереально )</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
Темп прироста наличия новых запчастей&nbsp; около 10 % в год.</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
&nbsp;Вам не потребуется искать запчасти по нескольким магазинам,</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
&nbsp;всё можно приобрести в одном месте у нас. </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
Если вам нужна какая-либо редкая деталь&nbsp; </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>или она отсутствует в наличии </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
к вашим услугам наша заказная база&nbsp; </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>от самых крупных поставщиков запчастей </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
с Японии, Европы и Арабских Эмиратов<br>
У нас собственные электронные каталоги,&nbsp; которые составляются вручную <br>
Мы отказались от слепого использования всех имеющихся в мире<br>
компьютерных программ по поиску запчастей к автомобилям<br>
из-за большого количества ошибок и неточностей в них<br>
Мы первые, кто начал систематизировать данные разных производителей<br>
и унифицировать все детали под единый стандарный номер <br>
с сохранением оригинального и артикула фирмы-поизводителя<br>
</small></span></small></big></big></big></big>&nbsp;<img style="border: 1px solid ; width: 400px; height: 245px;" alt="" src="../img/img_0_nas/onas-10.png" align="middle" hspace="5" vspace="5"><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small> <br>
</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>Вы сами увидите отпускные цены на Вашу деталь в разных странах мира,</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
которые в других торговых точках являются страшной тайной</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
</small>
</span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>Вы оплачиваете только транспортные и таможенные расходы</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
<span style="color: rgb(204, 0, 0);">и</span> <span style="color: rgb(204, 0, 0);">небольшую торговую наценку </span></small></span></small></big></big></big></big><br style="color: rgb(204, 0, 0);">
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
<span style="color: rgb(204, 0, 0);">что в совокупности&nbsp; за все обычно не превышает даже&nbsp; 10 у е</span> <br>
</small></span></small></big></big></big></big>
<div style="text-align: center;"><span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 204); display: inline ! important; float: none;"><img style="border: 1px solid ; width: 400px; height: 365px;" alt="" src="../img/img_0_nas/onas-09.png" align="middle" hspace="5" vspace="5"></span></div>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
При нашей наработанных за многие года&nbsp; </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>оптовых скидок </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>до 28 процентов<br>
за счет товарооборота&nbsp;</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small></small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>у партнерских складов Украины или Польши </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
для вас получаются очень привлекательные цены<br></small></span></small></big></big></big></big><img style="border: 1px solid ; width: 400px; height: 233px;" alt="" src="../img/img_0_nas/onas-12.png" align="middle" hspace="5" vspace="5"><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
( шутка )</small></span></small></big></big></big></big><span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 204); display: inline ! important; float: none;"></span><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small> <br>
</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>По мнению наших постоянных клиентов,&nbsp; </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>которые сменили уже не один автомобиль, </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
и пользуются нашими у</small></span></small></big></big></big></big><span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 204); display: inline ! important; float: none;"></span><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>слугами&nbsp; более 20 лет !!!</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"></span></small></big></big></big></big><span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 204); display: inline ! important; float: none;"><br>
<img style="border: 1px solid ; width: 400px; height: 250px;" alt="" src="../img/img_0_nas/onas-04.png" align="middle" hspace="5" vspace="5"><img style="border: 1px solid ; width: 333px; height: 250px;" alt="" src="../img/img_index/IRA-250.jpg" align="middle" hspace="5" vspace="5"><br>
</span>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>Мы вместе с нашими клиентами и покупателями совместно отслеживаем<br>
качество продаваемых запчастей</small></span></small></big></big></big></big>
<div style="text-align: center;"><span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 204); display: inline ! important; float: none;"><img style="border: 1px solid ; width: 400px; height: 217px;" alt="" src="../img/img_0_nas/onas-02.png" align="middle" hspace="5" vspace="5"></span></div>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>Нами учитываются&nbsp; все нарекания и эти данные открыто публикуются в нашей рубрике</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>РЕЙТИНГ КАЧЕСТВА<br>
</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small></small></span></small></big></big></big></big><img style="border: 1px solid ; width: 133px; height: 120px;" alt="" src="brendy/img_link_main/Screenshot_8.png" align="middle" hspace="5" vspace="5"><img style="border: 1px solid ; width: 123px; height: 120px;" alt="" src="../img/img_0_nas/onas-07.png" align="middle" hspace="5" vspace="5"><img style="border: 1px solid ; width: 124px; height: 120px;" alt="" src="brendy/img_link_main/Screenshot_2.png" align="middle" hspace="5" vspace="5"><img style="border: 1px solid ; width: 129px; height: 120px;" alt="" src="brendy/img_link_main/Screenshot_20.png" align="middle" hspace="5" vspace="5"><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small> <br>
</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
<span style="color: rgb(204, 0, 0); font-weight: bold;">МОЖЕТЕ УБЕДИТЬСЯ САМИ - У НАС <br>
</span></small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small><span style="color: rgb(204, 0, 0); font-weight: bold;"></span></small></span></small></big></big></big></big>
<div style="text-align: center;"><small><big><img style="border: 1px solid ; width: 400px; height: 135px;" alt="" src="../img/img_0_nas/onas-08.png" align="middle" hspace="5" vspace="5"></big></small></div>

<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
Именно поэтому нас рекомендуют своим знакомым, друзьям и соседям</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>&nbsp;</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
<br>
Только у нас есть в регионе есть такой вид деятельности<br>
как реализация бу запчастей японских и корейских автомобилей для нашего рынка<br>
За 20 лет работы нами разобрано и разложено по полочкам более 250
автомобилей<br>
&nbsp;Большинство деталей учтены в компьютере что облегчает&nbsp;
поиск совместимости</small><br>
</span></small></big></big></big></big><br>
&nbsp;<img style="border: 1px solid ; width: 400px; height: 267px;" alt="" src="../img/img_0_nas/0nas-06.png" hspace="5" vspace="5">&nbsp; <br>

<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
</small></span></small></big></big></big></big>
<small><span style="color: black;"><small><img style="border: 1px solid ; width: 400px; height: 123px;" alt="" src="../img/img_0_nas/onas-11.png" align="middle" hspace="5" vspace="5"></small></span></small>
<br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
</small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small> </small></span></small></big></big></big></big><big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>Учтите, что бу кузовные запчасти или оптика стоят дороже новых китайских</small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
что нередко вызывает удивление и даже возмущение у несведущих клиентов<br>
Все дело в том , что бу запчасти являются оригинальной продукцией,<br>
а производимые в разных азиатских странах капоты, крылья или оптика<br>
являются&nbsp; только копиями настоящих запчастей ,<br>
у которых не выдерживаются размеры или качество<br>
Опытный мастер-рихтовщик НИКОГДА не возьмется исправлять повреждения<br>
транспортного средства по китайским новым запчастям<br>
так как он знает, что невзирая на его опыт или квалификацию<br>
зазоры никогда не будут ровными по сторонам<br>
и  если заменить одну разбитую китайскую фару на другую<br>
то она просто может туда не влезть по креплениям !!!<br>
</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
Также напоминаем, что цены на&nbsp; оригинальные запчасти </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
устанавливаются не нами , а фирмой-производителем </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
и нередко бывает ,что стоимость нового насоса кондиционера </small></span></small></big></big></big></big><br>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small>
или рулевой рейки превышает рыночную цену подержанного&nbsp; автомобиля</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"><small><br>
</small></span></small></big></big></big></big>
<big><big><big><big><small><span style="color: rgb(0, 0, 102);"></span></small></big></big></big></big><span style="font-weight: bold; color: rgb(51, 51, 255);"><big><img style="border: 1px solid ; width: 400px; height: 229px;" alt="" src="../img/img_0_nas/onas-01.png" align="middle" hspace="5" vspace="5"><img style="border: 1px solid ; width: 229px; height: 229px;" alt="" src="../img/img_index/229.jpg" align="middle" hspace="5" vspace="5"></big></span><br>
<big style="color: red;"><big><span style="font-weight: bold;"></span></big></big>
<small><small></small></small>
<div style="text-align: left;">
</div>
<div style="text-align: left;">
</div>
<span style="font-weight: bold; color: rgb(51, 51, 255);"><big><big><big><big style="color: black;"><small>Помните, <br>
что найти </small><small>профессионалов <br>
- всегда большая проблема,<br>
&nbsp;потому что огромное
количество дилетантов<br>
&nbsp;пытаются занять их место.</small></big></big></big></big></span><br>
&nbsp;&nbsp; <br>